<div id="notice" class="alert alert-warning alert-dismissible fade show" role="alert" style="display:none;">
  <button type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="message">Error saving your reaction.</div>
</div>
<div class="card mb-4">
  <div class="card-header d-flex">
    <%= form_with(url: article_reactions_path(@article), scope: :reaction,
      class: 'form-inline my-2 mr-auto') do |form| %>
      <%= form.text_field :content, class: 'form-control mr-sm-2',
        placeholder: 'Your reaction...', id: 'comment-input' %>
      <%= form.submit 'Submit', class: 'btn btn-outline-success my-2 my-sm-0' %>
    <% end %>
      <%= button_to 'ðŸ‘', react_article_reactions_url(@article), remote: true, params: { reaction: { content: 'thumbs_up' } },
        method: :patch, class: 'btn btn-outline-secondary' %>
      <%= button_to 'ðŸ‘Ž', react_article_reactions_url(@article), remote: true, params: { reaction: { content: 'thumbs_down' } },
        method: :patch, class: 'btn btn-outline-secondary' %>
      <%= button_to 'ðŸ˜‚', react_article_reactions_url(@article), remote: true, params: { reaction: { content: 'lol' } },
        method: :patch, class: 'btn btn-outline-secondary' %>
      <%= button_to 'ðŸ˜±', react_article_reactions_url(@article), remote: true, params: { reaction: { content: 'fear' } },
        method: :patch, class: 'btn btn-outline-secondary' %>
      <%= button_to 'ðŸ‘‹', react_article_reactions_url(@article), remote: true, params: { reaction: { content: 'wave' } },
        method: :patch, class: 'btn btn-outline-secondary' %>
      <%= button_to 'ðŸ™', react_article_reactions_url(@article), remote: true, params: { reaction: { content: 'prayer' } },
        method: :patch, class: 'btn btn-outline-secondary' %>
      <%= button_to 'â¤ï¸', react_article_reactions_url(@article), remote: true, params: { reaction: { content: 'heart' } },
        method: :patch, class: 'btn btn-outline-secondary' %>
      <%= button_to 'ðŸŽ‰', react_article_reactions_url(@article), remote: true, params: { reaction: { content: 'hooray' } },
        method: :patch, class: 'btn btn-outline-secondary' %>
  </div>
  <div class="card-body">
    <h4 class=""><%= @article.title %></h4>
    <p class="mb-2">
      <%= @article.abstract %>
    </p>
    <p class="small mb-0">
      Published <%= local_time(@article.published_date) %> <%= @article.author %>
    </p>
    <p class="small mb-0">
      <%= icon('link') %> <%= link_to(@article.url, @article.url, target: 'blank') %>
    </p>
  </div>
</div>
<div class="mb-4" id="reactions_list">
  <%= render 'reactions/remoji', emojis: @article.reactions.emojis if @article.reactions.emojis.any? %>
</div>
<div class="pb-5" id="comments_list">
<% if @article.reactions.comments.any? %>
    <% @article.reactions.comments.each do |reaction| %>
      <%= render reaction %>
    <% end %>
<% end %>
</div>
