<div class="text-center">
  <%= emoji_reaction('happy','ðŸ˜€', emojis.where(content: 'happy').count ) %>
  <%= emoji_reaction('lol','ðŸ˜‚', emojis.where(content: 'lol').count ) %>
  <%= emoji_reaction('unamused','ðŸ˜’', emojis.where(content: 'unamused').count ) %>
  <%= emoji_reaction('fear','ðŸ˜±', emojis.where(content: 'fear').count ) %>
  <%= emoji_reaction('wave','ðŸ‘‹', emojis.where(content: 'wave').count ) %>
  <%= emoji_reaction('prayer','ðŸ™', emojis.where(content: 'prayer').count ) %>
  <%= emoji_reaction('thumbs_up','ðŸ‘', emojis.where(content: 'thumbs_up').count ) %>
  <%= emoji_reaction('thumbs_down','ðŸ‘Ž', emojis.where(content: 'thumbs_down').count ) %>
  <%= emoji_reaction('heart','â¤ï¸', emojis.where(content: 'heart').count ) %>
  <%= emoji_reaction('hooray','ðŸŽ‰', emojis.where(content: 'hooray').count ) %>
</div>
