<!DOCTYPE html>
<html>
  <head>
    <title>Reactions</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="mt-5 pt-3">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top navbar-light bg-light app-navbar">
      <a class="navbar-brand" href="/">Reactions</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <%= form_tag(search_articles_path, method: :get, class: 'form-inline my-2 my-lg-0') do %>
          <%= text_field_tag(:q, nil, class: 'form-control mr-sm-2', placeholder: 'Your reaction') %>
          <%= submit_tag('Search', class: 'btn btn-outline-success my-2 my-sm-0') %>
        <% end %>
      </div>
    </nav>
    <section class="col-lg-7 col-md-12 mx-auto mt-4 mb-5">
      <%= yield %>
    </section>
  </body>
</html>
