<!DOCTYPE html>
<html>
  <head>
    <title>Reactions</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="mt-5 pt-3">
    <%= yield :header %>
    <section class="col-lg-8 col-md-12 mx-auto mt-4 mb-5">
      <%= yield %>
    </section>
  </body>
</html>
